* {
  font-family: "Raleway", sans-serif;
}
body {
  color: #987398;
  overflow-y: scroll;
}
header {
  width: 100%;
  position: fixed;
  padding: transparent;
  margin: auto;
  top: 0%;
  left: 0%;
  background-color: #e7eaf6;
  z-index: 99;
  /* align-items: center;*/
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
.name {
  color: #a2a8d3;
  font-size: 50px;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;
}
.name span {
  color: #987398;
}
.navig {
  display: flex;
  justify-content: space-between;
  align-self: auto;
  list-style: none;
}
.navig a {
  font-size: 25px;
  font-weight: 600;
  padding: 3px;
  border: 2px;
  margin: 0 20px;
  color: plum;
}
.navig a:hover {
  color: rgb(63, 15, 63);
}
nav.checkbox {
  display: none;
}
nav input {
  display: none;
}
nav .checkbox i {
  font-size: 10px;
  cursor: pointer;
}
main {
  position: sticky;
  width: 100%;
  padding-top: 100px;
  align-items: auto;
}
.whole_front {
  width: auto;
  border: 1px solid #ffffff;
  padding: 40px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.frontpage_section {
  flex: 1;
}
.frontpage_section h1 {
  padding: 60px;
  font-size: 100px;
}
.frontpage_section div p {
  padding: 60px;
  font-size: 70px;
}
.image_section img {
  width: 350px;
  height: 350px;
  border: black;
  border-radius: 250px;
}
.intro_section p {
  text-align: center;
  font-size: 30px;
}
.projects {
  display: flex;
  gap: 50px;
  width: 50px;
}
.projects div {
  border: 1px solid #b6adad;
  border-radius: 15px;
  padding: 10px;
  flex: 1;
  width: 400px;
  height: 400px;
  background-color: #e7eaf6;
  transition: 2s;
}
.projects div:hover {
  width: 500px;
  height: 500px;
}

@media (min-width: 380) and (max-width: 768) {
  .whole_front {
    padding: 2px;
    margin: 10px;
  }
  .name {
    font-size: 30px;
    margin-right: 0;
  }
  .navig {
    padding-left: 30px;
  }
  .navig a {
    padding: 0;
    margin: 2px;
    font-size: 20px;
  }
  .frontpage_section h1 {
    padding: 10px;
    margin: 10px 10px;
    font-size: 40px;
    text-align: center;
  }
  .intro_section p {
    font-size: 50px;
  }
  .projects div img {
    width: 150px;
    height: 110px;
  }
  .projects div {
    width: 150px;
    height: 110px;
    font-size: 20px;
  }
}
@media (min-width: 768) and (max-width: 992) {
  .whole_front {
    padding: 5px;
    margin: 12px;
  }
  .name {
    font-size: 40px;
    margin-right: 0;
  }
  .navig {
    padding-left: 10px;
  }
  .navig a {
    padding: 0;
    margin: 2px;
    font-size: 40px;
  }
  .frontpage_section h1 {
    padding: 10px;
    margin: 10px 10px;
    font-size: 50px;
    text-align: center;
  }
  .intro_section p {
    font-size: 60px;
  }
  .projects div img {
    width: 190px;
    height: 150px;
  }
  .projects div {
    width: 190px;
    height: 150px;
    font-size: 40px;
  }
}
@media (min-width: 992) and (max-width: 1100px) {
  .whole_front {
    padding: 5px;
    margin: 12px;
  }
  .name {
    font-size: 40px;
    margin-right: 0;
  }
  .navig {
    padding-left: 10px;
  }
  .navig a {
    padding: 0;
    margin: 2px;
    font-size: 40px;
  }
  .frontpage_section h1 {
    padding: 10px;
    margin: 10px 10px;
    font-size: 50px;
    text-align: center;
  }
  .intro_section p {
    font-size: 60px;
  }
  .projects div img {
    width: 210px;
    height: 180px;
  }
  .projects div {
    width: 210px;
    height: 180px;
    font-size: 50px;
  }
}
